<a href="https://colab.research.google.com/github/deez79/PYTH_Homework_Submissions/blob/master/hw01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

initial = None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.
fav_num = 25 # favorite number 25
print(fav_num)

# Create another variable that represents your favorite color, and do the same steps as above.
fav_color = 'blue' # favorite color is blue
print(fav_color)



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. 
#Add a comment that includes the song title and artist **each on their own line**! 
#Now print out this variable.
lyrics = """
This are the lyrics to my favorite song.
They go like this.
la la la la la
And probably repeat.
""" # Title: made up.  Artist: No One.
print(lyrics)

This are the lyrics to my favorite song.
They go like this.
la la la la la
And probably repeat.



## TYPECASTING

### P1.PY

In [2]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

# print(float(five))
# print(float(zero))
# print(float(neg_8))
# print(float(neg_22))

float_five = float(five)
float_zero = float(zero)
float_neg_8 = float(neg_8)
float_neg_22 = float(neg_22)

print(float_five)
print(float_zero)
print(float_neg_8)
print(float_neg_22)

print(type(float_five))
print(type(float_zero))
print(type(float_neg_8))
print(type(float_neg_22))

float_to_int_five = int(float_five)
float_to_int_zero = int(float_zero)
float_to_int_neg_8 = int(float_neg_8)
float_to_int_neg_22 = int(float_neg_22)

print(float_to_int_five)
print(float_to_int_zero)
print(float_to_int_neg_8)
print(float_to_int_neg_22)

print(type(float_to_int_five))
print(type(float_to_int_zero))
print(type(float_to_int_neg_8))
print(type(float_to_int_neg_22))

5.0
0.0
-8.0
-22.0
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
5
0
-8
-22
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>



### P2.PY

In [4]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. 
# Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

int_to_string_five = str(five)
int_to_string_zero = str(zero)
int_to_string_neg_8 = str(neg_8)
int_to_string_T = str(T)
int_to_string_F = str(F)

print(int_to_string_five)
print(type(int_to_string_five))
print(int_to_string_zero)
print(type(int_to_string_zero))
print(int_to_string_neg_8)
print(type(int_to_string_neg_8))
print(int_to_string_T)
print(type(int_to_string_T))
print(int_to_string_F)
print(type(int_to_string_F))

string_to_int_five = int(int_to_string_five)
string_to_int_zero = int(int_to_string_zero)
string_to_int_neg_8 = int(int_to_string_zero)
string_to_bool_T = bool(int_to_string_T)
string_to_bool_F = bool(int_to_string_F)

print(string_to_int_five)
print(type(string_to_int_five))
print(string_to_int_zero)
print(type(string_to_int_zero))
print(string_to_int_neg_8)
print(type(string_to_int_neg_8))
print(string_to_bool_T)
print(type(string_to_bool_T))
print(string_to_bool_F)         # results are True most likely because empty strings are False, and 
                                # strings that have values are always True.
print(type(string_to_bool_F))   # results are Boolean

5
<class 'str'>
0
<class 'str'>
-8
<class 'str'>
True
<class 'str'>
False
<class 'str'>
5
<class 'int'>
0
<class 'int'>
0
<class 'int'>
True
<class 'bool'>
True
<class 'bool'>



### P3.PY

In [11]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

int_to_bool_one = bool(one)
int_to_bool_zero = bool(zero)

print(int_to_bool_one)
print(type(int_to_bool_one))

print(int_to_bool_zero)
print(type(int_to_bool_zero))


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

bool_to_float_one = float(int_to_bool_one)
bool_to_float_zero = float(int_to_bool_zero)

print(bool_to_float_one)
print(type(bool_to_float_one))
print(bool_to_float_zero)
print(type(bool_to_float_zero))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

float_to_bool_one = bool(bool_to_floats_one) 
float_to_bool_zero = bool(bool_to_float_zero)

print(float_to_bool_one)
print(type(float_to_bool_one))
print(float_to_bool_zero)
print(type(float_to_bool_zero))

# D) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

bool_to_int_one = int(float_to_bool_one)
bool_to_int_zero = int(float_to_bool_zero)

print(bool_to_int_one)
print(type(bool_to_int_one))
print(bool_to_int_zero)
print(type(bool_to_int_zero))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

int_to_bool_ten = bool(ten)

print(int_to_bool_ten)
print(type(int_to_bool_ten))

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>



### P4.PY

In [14]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

int_to_bool_one = bool(one)
int_to_bool_zero = bool(zero)
bool_to_bool_true = bool(bool_true)
bool_to_bool_false = bool(bool_false)

converts = [int_to_bool_one, int_to_bool_zero, bool_to_bool_true, bool_to_bool_false]
for convert in converts:
  print(convert)
  print(type(convert))

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' 
# back into integers. Print the result and the datatype of the result.

bool_to_int_one = int(int_to_bool_one)
bool_to_int_zero = int(int_to_bool_zero)

part_Bs = [bool_to_int_one, bool_to_int_zero]
for part_B in part_Bs:
  print(part_B)
  print(type(part_B))


# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' 
# back into boolean values. Print the result and the datatype of the result.

bool_to_original_true = bool(bool_to_bool_true)
bool_to_original_false = bool(bool_to_bool_false)

part_Cs = [bool_to_original_true, bool_to_original_false]

for part_C in part_Cs:
  print(part_C)
  print(type(part_C))

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>



## OPERATORS

### P1.PY

In [16]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

new_var = orig_var + 50
# print(new_var)

# Subtract 90

new_var = new_var - 90
# print(new_var)

# Multiply 10

new_var = new_var * 10
# print(new_var)

# Divide 150

new_var = new_var / 150
# print(new_var)

# Modulus 3

new_var = new_var % 3
# print(new_var)

150
60
600
4.0
1.0



### P2.PY

In [17]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
# Do NOT add any punctuation up front. 
# Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

sentence_01 = "I'll do some python today"
sentence_02 = "and learn a few things"


print(sentence_01 + ", " + sentence_02 +".")

I'll do some python today, and learn a few things.



### P3.PY

In [24]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

results_A = a + b
# print(results_A)


# B)
c = '0'
d = '2'

results_B = c + d
# print(results_B)


# C)
e = "0"
f = 2

results_C = e + f
# print(results_C)  # No need to print, as this will throw an error.
# results_fixed = int(e) + f   # fixed the error.
# print(results_fixed)
# results_alt_fix = e + str(f)
# print(results_alt_fix)

02



### P4.PY

In [25]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

results_A = a + b
# print(results_A)


# B)
c = False
d = False

results_B = c + d
# print(results_B)

# C)
e = True
f = False

results_C = e + f
# print(results_C)

2
0
1