<a href="https://colab.research.google.com/github/deez79/PYTH_Homework_Submissions/blob/master/hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## Loop_Basics

### P1.PY

In [9]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.
r = range(1, 11)

odds = []
evens = []

for num in r:
  if num % 2 == 0:
    evens.append(num)
  else:
    odds.append(num)

# odds = 

# evens = 

print(odds, evens)

[1, 3, 5, 7, 9] [2, 4, 6, 8, 10]



### P2.PY

In [8]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]

print(a, "\n")

# Using a loop, remove the duplicate items from list a and print out the updated list.

temp_a = []

# print(f'Here is what is in a: {a} \nand what is in temp_a: {temp_a}\n')

for num in a:
  if num not in temp_a:
    temp_a.append(num)
# print(f'Here is what is in a: {a} \nand what is in temp_a: {temp_a}\n')
a = temp_a 
# print(f'Here is what is in a: {a} \nand what is in temp_a: {temp_a}\n')

# Using a loop, merge list b into list a without adding any duplicates.

for num in b:
  if num not in a:
    a.append(num)

# print(f'Here is what is in a: {a} \nand what is in b: {b}\n')
print(a)

[2, 4, 10, 20, 5, 2, 20, 4]

[2, 4, 10, 20, 5, 13, 25, 8]



### P3.PY

In [0]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, 
# you've recorded the temperature at noon every day in degrees Fahrenheit (F). 
# The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and 
# add the results to a dict called sample_temps so that 
# the conversion of each day's temperature is easily accessible. 
# For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0
sample_temps = {}
for i in sampleF:
  sample_temps[i] = (i -32) * (5.0/9.0)


# sample_temps = 
print(sample_temps)

{71.6: 21.999999999999996, 82.4: 28.000000000000004, 91.4: 33.00000000000001, 107.6: 42.0, 125.6: 52.0}



### P4.PY

In [0]:
"""
Factorial
"""

# Find the factorial of a number input by a user. Then print out the factors within the factorial and then print out the actual numeric answer. Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""

user_input = input('Enter a number to find its factorial: ')

factorial = int(user_input)
# factorial = 8

r = range(1, factorial + 1)
sum_product = 1

for i in r:
 sum_product = sum_product * i

print(sum_product)

Enter a number to find its factorial: 8
40320



### P5.PY

In [0]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

user_input = input('Enter a number to find its factors: ')

number = int(user_input)
# number = 12

r = range(1, int((number**0.5))+1)
factor = []

for i in r:
  if number % i == 0:
    factor.append(i)
    factor.append(int(number/i))

print(factor)
# print(factor.sort(reverse=False))

Enter a number to find its factors: 12
[1, 12, 2, 6, 3, 4]



### P6.PY

In [10]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. Then print out 'The GCD of <first number> and <second number> is <your result>.'


###--- User Input ---###
print('Enter two numbers to find their greatest common denominator.')

user_input1 = input('First number: ')
user_input2 = input('Second number: ')

n1 = int(user_input1)
n2 = int(user_input2)

# n1 = 6
# n2 = 12

###--- Logic to find smaller user input ---###

if n1 > n2:
  l = n1
  s = n2
else:
  l = n2
  s = n1

###---  Attempt 1 ---###
##--- Find factors of smaller one ---##

factor = []
shared = []

r = range(1, int(s**0.5)+1)

for i in r:
  if s % i == 0:
    factor.append(i)
    factor.append(int(s/i))
# print(factor)

##--- Find Shared factors by dividing Larger number by factors of smaller ---##
for i in factor:
  if l % i == 0:
    shared.append(i)
# print(shared)

print(max(shared))


###--- Attempt 2 ---###

factor2 = []

for i in r:
  if s % i == 0 and l % i == 0:
    factor2.append(i)
    factor2.append(int(s/i))

print(max(factor2))

Enter two numbers to find their greatest common denominator.
First number: 6
Second number: 12
6
6

## DICT_LOOPS

### P1.PY

In [0]:
"""
Contacts
"""

# You went to a conference and got people to sign up for text 
# updates from your startup. Go through this dict to make i
# the phone numbers readable to a computer. 

# Hint: It can't include any non-numeric
# characters.

contacts = {
	'Jamie': '1.192.168.0143',
	'Kartik': '1.837.209.1121',
	'Grant': '1.826.386.1758',
	'Brandon': '1.935.297.9447',
	'Monique': '1.702.716.5353',
	'Sohom': '1.576.619.6100',
}

### --- Scratch Copy --- ###
# for i in contacts:
# 	# print(contacts[i])
# 	# print("break")
# 	# print(contacts.get(i))
# 	phone_number = []
# 	temp_phone = contacts[i]
# 	# print(temp_phone)
# 	for n in temp_phone:
# 		try:
# 			if int(n) >= 0:
# 				phone_number.append(n)
# 		except:
# 			pass
# 	# print(phone_number)
# 	phone_number = "".join(phone_number)
# 	# print(phone_number)
# 	contacts[i] = phone_number
# print(contacts)
 
for i in contacts:
	phone_number = []
	temp_phone = contacts[i]
	for n in temp_phone:
		try:
			if int(n) >= 0:
				phone_number.append(n)
		except:
			pass
	phone_number = "".join(phone_number)
	contacts[i] = phone_number
print(contacts)

{'Jamie': '11921680143', 'Kartik': '18372091121', 'Grant': '18263861758', 'Brandon': '19352979447', 'Monique': '17027165353', 'Sohom': '15766196100'}



### P2.PY

In [26]:
"""
Grades
"""
# Here's a dict containing students' grades from the semester's assignments.

students = {
  'Ashton': [86, 45, 98, 100],
  'Sierra': [100, 100, 100, 100],
  'Zach': [38, 49, 90, 87],
  'Manuel': [98, 92, 86, 100],
  'Felicia': [94, 87, 89, 95],
  'Ankur': [75, 77, 77, 85],
  'Ananya': [98, 94, 87, 92],
  'Nick': [79, 84, 89, 90],
  'Olivia': [83, 91, 69, 85],
  'Molly': [83, 74, 72, 90]
}

# p 1.1) Create a dict called num_grades to store each student's average numerical grade for the semester.

num_grades = dict(students)          # create duplicate of students called num_grades to work with

###---Loop through num_grades dict of student and grades ---###
for grade in num_grades:
  # print(grade)
  # print(num_grades[grade])
  temp_list = num_grades[grade]
  # print(temp_list)
  avg = sum(temp_list) / len(temp_list)
  # print(avg)
  num_grades[grade] = avg
print(num_grades)
# print(students)


# p 1.2) Create a dict called letter_grades to store each student's final letter grade for the semester. Use A, B, C, D, and F as grades per the standard grading scale.

letter_grades = dict(num_grades)

for grade in letter_grades:
  if letter_grades[grade] > 90:
    letter_grades[grade] = 'A'
  elif letter_grades[grade] > 80:
    letter_grades[grade] = 'B'
  elif letter_grades[grade] > 70:
    letter_grades[grade] = 'C'
  elif letter_grades[grade] > 60:
    letter_grades[grade] = 'D'
  elif letter_grades[grade] < 60:
    letter_grades[grade] = 'F'
print(letter_grades)



# p 1.3) Create a list of honor roll students (i.e. students who got A's).

honor_roll = dict(letter_grades) 

for student in letter_grades:
  # print(honor_roll[student])
  if letter_grades[student] != 'A':
    # print("no A for you")
    # honor_roll[student].popitem()
    non_honor_student = honor_roll.pop(student)


print(honor_roll)

{'Ashton': 82.25, 'Sierra': 100.0, 'Zach': 66.0, 'Manuel': 94.0, 'Felicia': 91.25, 'Ankur': 78.5, 'Ananya': 92.75, 'Nick': 85.5, 'Olivia': 82.0, 'Molly': 79.75}
{'Ashton': 'B', 'Sierra': 'A', 'Zach': 'D', 'Manuel': 'A', 'Felicia': 'A', 'Ankur': 'C', 'Ananya': 'A', 'Nick': 'B', 'Olivia': 'B', 'Molly': 'C'}
{'Sierra': 'A', 'Manuel': 'A', 'Felicia': 'A', 'Ananya': 'A'}



### P3.PY

In [30]:
"""
Price Inventory
"""

# Imagine you're the owner of an Italian restaurant. 
# You're evaluating your pricing to make sure it's up to date 
# with the latest costs of making each menu item 
# (see the menu prices and costs dicts below). 
# Evaluate whether each item's price returns a 
# profit margin of at least $1.00. 
# If it doesn't, update the menu_prices dict with a new price 
# that gives the item a $1.00 profit margin. 
# Then print out the items which you've repriced 
# in a new dict called price_increases.

menu_prices = {
	'fettuccine bolognese': 14.99,
	'gnocchi gorgonzola': 10.99,
	'chicken parmigiano': 13.99,
	'butternut squash risotto': 9.99,
	'spaghetti carbonara': 12.99,
	'pizza margherita': 12.99,
	'chicken marsala': 13.99
}

menu_costs = {
	'fettuccine bolognese': 12.50,
	'gnocchi gorgonzola': 11.25,
	'chicken parmigiano': 11.75,
	'butternut squash risotto': 6.33,
	'spaghetti carbonara': 12.90,
	'pizza margherita': 14.00,
	'chicken marsala': 11.75
}


###--- Problem: find if price-cost > $1.
###--- 					if no, update price to: cost + $1 = price.
###--- 					then create dict of items with updated price.

price_increases = {}

###--- stage 01: find difference in price and cost ---###
for item in menu_prices:
	if menu_prices[item] - menu_costs[item] < 1:
		price_increases[item] = menu_costs[item] + 1
		menu_prices[item] = price_increases[item]
print(price_increases)
# print(menu_prices)

{'gnocchi gorgonzola': 12.25, 'spaghetti carbonara': 13.9, 'pizza margherita': 15.0}
{'fettuccine bolognese': 14.99, 'gnocchi gorgonzola': 12.25, 'chicken parmigiano': 13.99, 'butternut squash risotto': 9.99, 'spaghetti carbonara': 13.9, 'pizza margherita': 15.0, 'chicken marsala': 13.99}

## CONTROL_FLOW

### P1.PY

In [37]:
"""
Control Flow - I
"""

# Print the numbers in the range (5:12) until you find a factor of 4. 
# If the range the user enters contains no factors of 4, 
# print "There are no factors of 4 in this interval."
# HINT: for the range 5,12 there will likely be multiples of 4 present - 
# to assert the final requirement, try changing range boundaries

r = range(5, 12)
found = False
for num in r:
  if num % 4 == 0:
    # print(num)
    found = True
    break
if not found:
  print(f'There are no factors of 4 in this range')

8



### P2.PY

In [38]:
"""
Control Flow II
"""

# Write a Python program that prints all the numbers 
# from 0 to 6 except 3 and 6. Note : Use 'continue' statement. 

r = range(0,7)      # could just make the range to 6 since it would be excluded:
for num in r:
  if num == 3 or num == 6:
    continue
  else:
    print(num)

0
1
2
4
5



## SHAPES

### P1.PY

In [5]:
"""
Build a Triangle
"""

# Use a while loop to print a 5-level triangle of stars that looks like this:

"""
*
**
***
****
*****
"""

base = 5
i = 0
while i <= base:
  i += 1
  print(f'{"*" * i}')

*
**
***
****
*****
******



### P2.PY

In [13]:
"""
Build a Pyramid
"""

# Use a while loop to print a pyramid of stars that looks like this:

"""
    *
   ***
  *****
 *******
*********
"""
stars = 1
spaces = 4

row = 1


while row < 6:
  row += 1
  print(f'{" "*spaces}{"*"*stars}')
  spaces -= 1
  stars += 2

    *
   ***
  *****
 *******
*********

pyramid table:

| r  |  num of *  | num of leading spaces |
|----|------------|-----------------------|
| 1  |     1      |         4             |
| 2  |     3      |         3             |
| 3  |     5      |         2             |
| 4  |     7      |         1             |
| 5  |     9      |         0             |



### P3.PY

In [24]:
"""
Build a Diamond
"""

# Use a while loop to print a diamond of stars that looks like this:

"""
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

spaces = 4
stars = 1
row = 0

while row < 10:
  row += 1
  print(f'{" "*spaces}{"*"*stars}')
  # print(f'{" "*spaces}{"*"*stars}')
  if row < 5:
    spaces -= 1
    stars += 2
  else:
    spaces += 1
    stars -= 2

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## LOOP_CHALLENGES

### P1.PY

In [65]:
"""
Valid Passwords
"""

# Check the validity of password input by users 
# based on the below security requirements: 
# At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""


# Hint: Look up the documentation for the "re" library and it's ".search()" method.
import re

p = input("Input your password: ")
# p = 'P4$$w0rD'

# if re.search('([A-Z][a-z])',p):
if len(p) >= 6 and len(p) <= 16:
  if re.search('[A-Z]',p) and re.search('[a-z]',p) and re.search('[0-9]',p) and re.search('[$#@]',p):
    print("valid")
else:
  print("invalid")

Input your password: p4ssW@rd
valid



### P2.PY

In [0]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, print out that it is not a prime number. If it IS a prime number, print out that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12



# user_input = input("Enter a number to check if it's prime: ")